watch_file poetry.lock pyproject.toml config.nix default.nix

if ! use flake . --show-trace --print-build-logs --impure; then
  echo "devenv could not be build. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi

